html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    height: 50%;
}

.Grid{
    display: grid;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.space{
    border: none;
    background-color: transparent;
}

.result{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 280px;
    height: 60px;
    border-bottom:none;
    margin-top: -50px;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 49px;
    font-family: Arial;
    overflow: hidden;
}

input[type="text"], textarea {
    color: white;
    outline: none;}

.number0{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 100px;
    font-size: 28px;
    font-weight: 500;
    transition: all 0.4s;
    border: none;
    background-color: #1e1e1e;
    color: white;
}

.numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 100px;
    font-size: 28px;
    font-weight: 500;
    transition: all 0.4s;
    border: 3px solid transparent;
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
}


.numbers:hover{
    border-color:#ff9f0a;
}

.operator{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 700;
    transition: all 0.4s;
    border: solid 2px transparent;
    background-color: #ff9f0a;
    color: white;
    cursor: pointer;
}

.operator:hover{
    background-color: white;
    color: #1e1e1e;
}


.notes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: rgb(75, 75, 75);
}

::selection{
    background-color: #ff9f0a;
    color: white;
    border-radius: 25px;
}